<body>
  <div class="container">
    <section id="contact-section" class="text-dark py-5">
      <div class="contact-box">
        <img [src]="banner" alt="Hollmann" />
        <div id="contact-info-overlay">
          <h2>Contact Us</h2>
          <p>
            <i class="fas fa-map-marker-alt"></i> Charlotte-Auerbach-Straße 4,
            28816 Stuhr, Germany
          </p>
          <p><i class="fas fa-envelope"></i> Hollmann&#64;car.com</p>
          <p><i class="fas fa-phone"></i> +201277416612, +201288577048</p>
        </div>
      </div>
    </section>

    <div id="map-section" class="container my-5">
      <h3>Our Location:</h3>
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d9605.039607542805!2d8.775393!3d52.997711!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47b0d8b6ff39a02b%3A0x7449c6862c2b56c5!2sHollmann%20International!5e0!3m2!1sen!2seg!4v1699995153306!5m2!1sen!2seg"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
      ></iframe>
    </div>
  </div>
</body>
