<body>
  <div id="vehicles" class="container">
    <div class="row">
      <div class="col-md-4 mb-4">
        <div class="card">
          <a class="v" href="/vehicle/23G1159/">
            <img
              src="https://files.hollmann.international/vehicle/23G1287/images/compact/1.jpeg"
              class="card-img-top v-image"
              alt="R8 V10 Plus"
            />
            <div class="card-body">
              <h5 class="card-title">R8 V10 Plus</h5>
              <p class="card-text">
                <span class="info-logo bi bi-cash"></span>
                <span>Total price, VAT not applicable</span><br />
                <span class="info-logo bi bi-currency-exchange"></span>
                €123,300.00
              </p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                <span class="info-logo bi bi-gear"></span>
                Drive: Petrol
              </li>
              <li class="list-group-item">
                <span class="info-logo bi bi-speedometer"></span>
                Fuel Consumption (comb.): 12.3 l/100 km*
              </li>
              <li class="list-group-item">
                <span class="info-logo bi bi-cloud"></span>
                CO₂ Emissions (comb.): 287 g/km*
              </li>
              <li class="list-group-item">
                <span class="info-logo bi bi-bar-chart"></span>
                CO₂ Efficiency Rating: G
              </li>
            </ul>
          </a>
        </div>
      </div>
      <div class="col-md-4 mb-4">
        <div class="card">
          <a class="v" href="/vehicle/23G1159/">
            <img
              src="https://files.hollmann.international/vehicle/23G1038/images/compact/1.jpeg"
              class="card-img-top v-image"
              alt="RS e-tron GT"
            />
            <div class="card-body">
              <h5 class="card-title">RS e-tron GT</h5>
              <p class="card-text">
                <span class="info-logo bi bi-cash"></span>
                <span> Gross: €146,132.00</span><br />
                <span class="info-logo bi bi-currency-exchange"></span>
                Net (Export): €122,800.00
              </p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                <span class="info-logo bi bi-gear"></span>
                Drive: Electric
              </li>
              <li class="list-group-item">
                <span class="info-logo bi bi-speedometer"></span>
                Electricity Consumption (comb.): 22.5 kWh/100 km*
              </li>
              <li class="list-group-item">
                <span class="info-logo bi bi-cloud"></span>
                CO₂ Emissions (comb.): 0 g/km*
              </li>
              <li class="list-group-item">
                <span class="info-logo bi bi-bar-chart"></span>
                CO₂ Efficiency Rating: A+
              </li>
            </ul>
          </a>
        </div>
      </div>
      <div class="col-md-4 mb-4">
        <div class="card">
          <a class="v" href="/vehicle/23G1159/">
            <img
              src="https://files.hollmann.international/vehicle/23G0844/images/compact/1.jpeg"
              class="card-img-top v-image"
              alt="RSQ8"
            />
            <div class="card-body">
              <h5 class="card-title">RSQ8</h5>
              <p class="card-text">
                <span class="info-logo bi bi-cash"></span>
                <span> Gross: €172,550.00</span><br />
                <span class="info-logo bi bi-currency-exchange"></span>
                Net (Export): €145,000.00
              </p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                <span class="info-logo bi bi-gear"></span>
                Drive: Petrol
              </li>
              <li class="list-group-item">
                <span class="info-logo bi bi-speedometer"></span>
                Fuel Consumption (comb.): 13.4 l/100 km*
              </li>
              <li class="list-group-item">
                <span class="info-logo bi bi-cloud"></span>
                CO₂ Emissions (comb.): 305 g/km*
              </li>
              <li class="list-group-item">
                <span class="info-logo bi bi-bar-chart"></span>
                CO₂ Efficiency Rating: G
              </li>
            </ul>
          </a>
        </div>
      </div>
      <div class="col-md-4 mb-4">
        <div class="card">
          <a class="v" href="/vehicle/23G1159/">
            <img
              src="https://files.hollmann.international/vehicle/23G0875/images/compact/1.jpeg"
              class="card-img-top v-image"
              alt="Q5 Sportback S line 40 TDI"
            />
            <div class="card-body">
              <h5 class="card-title">Q5 Sportback S line 40 TDI</h5>
              <p class="card-text">
                <span class="info-logo bi bi-cash"></span>
                <span> Gross: €77,350.00</span><br />
                <span class="info-logo bi bi-currency-exchange"></span>
                Gross: €65,000.00
              </p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                <span class="info-logo bi bi-gear"></span>
                Drive: Diesel
              </li>
              <li class="list-group-item">
                <span class="info-logo bi bi-speedometer"></span>
                Fuel Consumption (comb.): 6.8 l/100 km*
              </li>
              <li class="list-group-item">
                <span class="info-logo bi bi-cloud"></span>
                CO₂ Emissions (comb.): 177 g/km*
              </li>
              <li class="list-group-item">
                <span class="info-logo bi bi-bar-chart"></span>
                CO₂ Efficiency Rating: C
              </li>
            </ul>
          </a>
        </div>
      </div>
      <div class="col-md-4 mb-4">
        <div class="card">
          <a class="v" href="/vehicle/23G1159/">
            <img
              src="https://files.hollmann.international/vehicle/23G0876/images/compact/1.jpeg"
              class="card-img-top v-image"
              alt="RS Q3"
            />
            <div class="card-body">
              <h5 class="card-title">RS Q3</h5>
              <p class="card-text">
                <span class="info-logo bi bi-cash"></span>
                <span> Gross: €85,680.00</span><br />
                <span class="info-logo bi bi-currency-exchange"></span>
                Net (Export): €72,000.00
              </p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                <span class="info-logo bi bi-gear"></span>
                Drive: Petrol
              </li>
              <li class="list-group-item">
                <span class="info-logo bi bi-speedometer"></span>
                Fuel Consumption (comb.): 9 l/100 km*
              </li>
              <li class="list-group-item">
                <span class="info-logo bi bi-cloud"></span>
                CO₂ Emissions (comb.): 205 g/km*
              </li>
              <li class="list-group-item">
                <span class="info-logo bi bi-bar-chart"></span>
                CO₂ Efficiency Rating: E
              </li>
            </ul>
          </a>
        </div>
      </div>
      <div class="col-md-4 mb-4">
        <div class="card">
          <a class="v" href="/vehicle/23G1159/">
            <img
              src="https://files.hollmann.international/vehicle/23G0124/images/compact/1.jpeg"
              class="card-img-top v-image"
              alt="RS6 Avant"
            />
            <div class="card-body">
              <h5 class="card-title">RS6 Avant</h5>
              <p class="card-text">
                <span class="info-logo bi bi-cash"></span>
                <span> Gross: €161,483.00</span><br />
                <span class="info-logo bi bi-currency-exchange"></span>
                Net (Export): €135,700.00
              </p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                <span class="info-logo bi bi-gear"></span>
                Drive: Petrol
              </li>
              <li class="list-group-item">
                <span class="info-logo bi bi-speedometer"></span>
                Fuel Consumption (comb.): 12.9 l/100 km*
              </li>
              <li class="list-group-item">
                <span class="info-logo bi bi-cloud"></span>
                CO₂ Emissions (comb.): 294 g/km*
              </li>
              <li class="list-group-item">
                <span class="info-logo bi bi-bar-chart"></span>
                CO₂ Efficiency Rating: G
              </li>
            </ul>
          </a>
        </div>
      </div>
    </div>
  </div>
</body>
