<body>
  <main class="container my-5">
    <section id="welcome-section">
      <div class="text-center py-5">
        <h1 class="display-4 mb-3">Welcome to <strong>Hollmann</strong></h1>
        <p class="lead">
          Your premier destination for exquisite cars. Explore our diverse range
          of vehicles from the world's leading manufacturers.
        </p>
      </div>
    </section>

    <div id="carCarousel" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button
          type="button"
          data-bs-target="#carCarousel"
          data-bs-slide-to="0"
          class="active"
          aria-current="true"
          aria-label="Slide 1"
        ></button>
        <button
          type="button"
          data-bs-target="#carCarousel"
          data-bs-slide-to="1"
          aria-label="Slide 2"
        ></button>
        <button
          type="button"
          data-bs-target="#carCarousel"
          data-bs-slide-to="2"
          aria-label="Slide 3"
        ></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img [src]="platHome" class="d-block w-100" alt="Car Image 1" />
        </div>
        <div class="carousel-item">
          <img [src]="carousel1" class="d-block w-100" alt="Car Image 2" />
        </div>
        <div class="carousel-item">
          <img [src]="carousel2" class="d-block w-100" alt="Car Image 3" />
        </div>
      </div>
      <button
        class="carousel-control-prev"
        type="button"
        data-bs-target="#carCarousel"
        data-bs-slide="prev"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button
        class="carousel-control-next"
        type="button"
        data-bs-target="#carCarousel"
        data-bs-slide="next"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </main>
</body>
