<body>
  <div class="container mt-4">
    <div class="row">
      <div class="col-12">
        <div
          class="d-flex flex-nowrap overflow-auto mb-4"
          id="scrollable-manufacturers"
        >
          <a class="rounded px-3 py-2" href="#simple-list-item-1">Porsche</a>
          <a class="rounded px-3 py-2" href="#simple-list-item-2">Audi</a>
          <a class="rounded px-3 py-2" href="#simple-list-item-3">BMW</a>
          <a class="rounded px-3 py-2" href="#simple-list-item-4"
            >Mercedes Benz</a
          >
          <a class="rounded px-3 py-2" href="#simple-list-item-5">McLaren</a>
          <a class="rounded px-3 py-2" href="#simple-list-item-6">Bugatti</a>
        </div>
      </div>
      <div class="col-12">
        <div
          data-bs-spy="scroll"
          data-bs-target="#scrollable-manufacturers"
          data-bs-offset="0"
          data-bs-smooth-scroll="true"
          class="scrollspy-example"
          tabindex="0"
        >
          <h4 id="simple-list-item-1">Porsche</h4>
          <div class="card w-90">
            <br />
            <img
              class="card-img-top"
              [src]="porscheLogo"
              style="width: 100px; margin: 0 auto"
              alt="Logo of Porsche"
            />
            <div class="card-body">
              <p class="card-text">
                Porsche AG is a German automobile manufacturer specializing in
                high-performance sports cars, SUVs, and sedans. The company is
                well-known for the iconic 911, which has evolved over decades
                but retains the classic rear-engine sports car formula.
                Porsche's lineup has expanded to include the Panamera, a luxury
                sedan, and the Cayenne and Macan SUVs, which have been highly
                successful in the market. Porsche is also a leader in plug-in
                hybrid and electric vehicles, with the Porsche Taycan
                representing its cutting-edge all-electric technology in the
                performance segment.
              </p>
              <a routerLink="/porsche-cars" class="btn btn custom-btn"
                >View Cars</a
              >
            </div>
          </div>
          <h4 id="simple-list-item-2">Audi</h4>
          <div class="card w-90">
            <br />
            <img
              class="card-img-top"
              [src]="audiLogo"
              style="width: 100px; margin: 0 auto"
              alt="Logo of audi"
            />
            <div class="card-body">
              <p class="card-text">
                Audi stands as a prominent figure in the luxury automotive
                sector, famed for its blend of premium comfort, advanced
                technology, and engaging driving dynamics. The company has a
                heritage of innovation, including the introduction of the famed
                quattro all-wheel-drive system, which provided a performance
                edge in various forms of auto racing and improved vehicle
                handling in consumer models. Audi's vehicle lineup showcases a
                vast range, from the compact and urban-friendly A1 to the
                full-size luxury A8, along with performance-focused RS models
                and the progressive e-tron electric vehicle series. The brand's
                commitment to "Vorsprung durch Technik" also pushes it to
                constantly explore new frontiers in automotive technology, such
                as autonomous driving and connectivity features.
              </p>
              <a routerLink="/audi-cars" class="btn btn custom-btn"
                >View Cars</a
              >
            </div>
          </div>
          <h4 id="simple-list-item-3">BMW</h4>
          <div class="card w-90">
            <br />
            <img
              class="card-img-top"
              [src]="bmwLogo"
              style="width: 100px; margin: 0 auto"
              alt="Logo of bmw"
            />
            <div class="card-body">
              <p class="card-text">
                BMW, an acronym for Bayerische Motoren Werke AG, is a German
                multinational company which produces luxury vehicles and
                motorcycles. The brand promotes the driving experience with its
                tagline “The Ultimate Driving Machine,” focusing on dynamic
                performance across its series of sedans, coupes, and SUVs, such
                as the 3 Series and X5. BMW also offers electric and hybrid
                vehicles under the BMW i and iPerformance labels. Beyond
                personal vehicles, BMW has a significant presence in motorsport,
                with a history in Formula 1, touring cars, and endurance racing.
              </p>
              <a routerLink="/bmw-cars" class="btn btn custom-btn">View Cars</a>
            </div>
          </div>
          <h4 id="simple-list-item-4">Mercedes Benz</h4>
          <div class="card w-90">
            <br />
            <img
              class="card-img-top"
              [src]="mercedesLogo"
              style="width: 200px; margin: 0 auto"
              alt="Logo of mercedes"
            />
            <div class="card-body">
              <p class="card-text">
                Mercedes-Benz, a division of the German company Daimler AG, is
                synonymous with luxury vehicles, buses, coaches, and trucks. The
                brand is known for pioneering numerous safety features such as
                anti-lock brakes, traction control, and airbags that have become
                common in modern vehicles. Mercedes-Benz's product range
                includes the compact A-Class, the mid-sized E-Class, and the
                flagship S-Class, along with a family of SUVs and
                high-performance AMG models. The company has also been investing
                heavily in electric mobility, with its EQ brand dedicated to
                electric vehicles.
              </p>
              <a routerLink="/mercedes-cars" class="btn btn custom-btn"
                >View Cars</a
              >
            </div>
          </div>
          <h4 id="simple-list-item-5">McLaren</h4>
          <div class="card w-90">
            <br />
            <img
              class="card-img-top"
              [src]="mclarenLogo"
              style="width: 200px; margin: 0 auto"
              alt="Logo of mclaren"
            />
            <div class="card-body">
              <p class="card-text">
                McLaren Automotive specializes in crafting high-performance
                sports cars and supercars known for their precision engineering,
                advanced aerodynamics, and cutting-edge technology. The lineup
                includes various series—Sports, Super, and Ultimate—each
                offering a unique driving experience. McLaren vehicles are
                lightweight, utilizing carbon fiber construction for agility and
                speed. They feature powerful engines, delivering exceptional
                performance both on the road and track. The brand's dedication
                to innovation results in sought-after luxury sports cars.
              </p>
              <a class="btn btn custom-btn">View Cars</a>
            </div>
          </div>
          <h4 id="simple-list-item-6">Bugatti</h4>
          <div class="card w-90">
            <br />
            <img
              class="card-img-top"
              [src]="bugattiLogo"
              style="width: 200px; margin: 0 auto"
              alt="Logo of bugatti"
            />
            <div class="card-body">
              <p class="card-text">
                Bugatti, now a subsidiary of the Volkswagen Group, is a French
                high-performance luxury car manufacturer that has historically
                been known for producing some of the fastest and most exclusive
                cars in the world. The Bugatti Veyron and its successor, the
                Chiron, are notable for their exceptional performance, with top
                speeds exceeding 250 mph, making them some of the fastest
                production cars in the world. The company's focus is on design,
                luxury, and power, with vehicles that feature unique design
                elements and bespoke customization options. Despite its low
                volume production, Bugatti has a storied racing history and has
                become a cultural symbol of automotive excellence and prestige.
              </p>
              <a class="btn btn custom-btn"
                >View Cars</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
