<body>
  <div id="vehicles" class="container">
    <div class="row">
      <div class="col-md-4 mb-4">
        <div class="card">
          <a class="v" href="/vehicle/23G1159/">
            <img
              src="https://files.hollmann.international/vehicle/23G1159/images/compact/1.jpeg"
              class="card-img-top v-image"
              alt="Porsche 911 Dakar"
            />
            <div class="card-body">
              <h5 class="card-title">Porsche 911 Dakar</h5>
              <p class="card-text">
                <span class="info-logo bi bi-cash"></span>
                <span> Gross: €416,262.00</span><br />
                <span class="info-logo bi bi-currency-exchange"></span>
                Net (Export): €349,800.00
              </p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                <span class="info-logo bi bi-gear"></span>
                Drive: Petrol
              </li>
              <li class="list-group-item">
                <span class="info-logo bi bi-speedometer"></span>
                Fuel Consumption (comb.): 11.3 l/100 km*
              </li>
              <li class="list-group-item">
                <span class="info-logo bi bi-cloud"></span>
                CO₂ Emissions (comb.): 256 g/km*
              </li>
              <li class="list-group-item">
                <span class="info-logo bi bi-bar-chart"></span>
                CO₂ Efficiency Rating: G
              </li>
            </ul>
          </a>
        </div>
      </div>
      <div class="col-md-4 mb-4">
        <div class="card">
          <a class="v" href="/vehicle/23G1159/">
            <img
              src="https://files.hollmann.international/vehicle/23G1269/images/compact/1.jpeg"
              class="card-img-top v-image"
              alt="Porsche 911 GT3 RS"
            />
            <div class="card-body">
              <h5 class="card-title">Porsche 911 GT3 RS</h5>
              <p class="card-text">
                <span class="info-logo bi bi-cash"></span>
                <span> Gross: €439,705.00</span><br />
                <span class="info-logo bi bi-currency-exchange"></span>
                Net (Export): €369,500.00
              </p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                <span class="info-logo bi bi-gear"></span>
                Drive: Petrol
              </li>
              <li class="list-group-item">
                <span class="info-logo bi bi-speedometer"></span>
                Fuel Consumption (comb.): 13.4 l/100 km*
              </li>
              <li class="list-group-item">
                <span class="info-logo bi bi-cloud"></span>
                CO₂ Emissions (comb.): 305 g/km*
              </li>
              <li class="list-group-item">
                <span class="info-logo bi bi-bar-chart"></span>
                CO₂ Efficiency Rating: G
              </li>
            </ul>
          </a>
        </div>
      </div>
      <div class="col-md-4 mb-4">
        <div class="card">
          <a class="v" href="/vehicle/23G1159/">
            <img
              src="https://files.hollmann.international/vehicle/23G1183/images/compact/1.jpeg"
              class="card-img-top v-image"
              alt="911 Targa 4S Heritage Design Edition"
            />
            <div class="card-body">
              <h5 class="card-title">911 Targa 4S Heritage Design Edition</h5>
              <p class="card-text">
                <span class="info-logo bi bi-cash"></span>
                <span> Gross: €285,005.00</span><br />
                <span class="info-logo bi bi-currency-exchange"></span>
                Net (Export): €239,500.00
              </p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                <span class="info-logo bi bi-gear"></span>
                Drive: Petrol
              </li>
              <li class="list-group-item">
                <span class="info-logo bi bi-speedometer"></span>
                Fuel Consumption (comb.): 9.9 l/100 km*
              </li>
              <li class="list-group-item">
                <span class="info-logo bi bi-cloud"></span>
                CO₂ Emissions (comb.): 227 g/km*
              </li>
              <li class="list-group-item">
                <span class="info-logo bi bi-bar-chart"></span>
                CO₂ Efficiency Rating: G
              </li>
            </ul>
          </a>
        </div>
      </div>
      <div class="col-md-4 mb-4">
        <div class="card">
          <a class="v" href="/vehicle/23G1159/">
            <img
              src="https://files.hollmann.international/vehicle/22G1138/images/compact/1.jpeg"
              class="card-img-top v-image"
              alt="935"
            />
            <div class="card-body">
              <h5 class="card-title">935</h5>
              <p class="card-text">
                <span class="info-logo bi bi-cash"></span>
                <span> Gross: €2,380,000.00</span><br />
                <span class="info-logo bi bi-currency-exchange"></span>
                Gross: €2,380,000.00
              </p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                <span class="info-logo bi bi-gear"></span>
                Drive: Petrol
              </li>
              <li class="list-group-item">
                <span class="info-logo bi bi-speedometer"></span>
                Fuel Consumption (comb.): 11.8 l/100 km*
              </li>
              <li class="list-group-item">
                <span class="info-logo bi bi-cloud"></span>
                CO₂ Emissions (comb.):
              </li>
              <li class="list-group-item">
                <span class="info-logo bi bi-bar-chart"></span>
                CO₂ Efficiency Rating: G
              </li>
            </ul>
          </a>
        </div>
      </div>
      <div class="col-md-4 mb-4">
        <div class="card">
          <a class="v" href="/vehicle/23G1159/">
            <img
              src="https://files.hollmann.international/vehicle/23G0513/images/compact/1.jpeg"
              class="card-img-top v-image"
              alt="911 Turbo S Coupe by Techart"
            />
            <div class="card-body">
              <h5 class="card-title">911 Turbo S Coupe by Techart</h5>
              <p class="card-text">
                <span class="info-logo bi bi-cash"></span>
                <span> Gross: €308,210.00</span><br />
                <span class="info-logo bi bi-currency-exchange"></span>
                Net (Export): €259,000.00
              </p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                <span class="info-logo bi bi-gear"></span>
                Drive: Petrol
              </li>
              <li class="list-group-item">
                <span class="info-logo bi bi-speedometer"></span>
                Fuel Consumption (comb.): 11.1 l/100 km*
              </li>
              <li class="list-group-item">
                <span class="info-logo bi bi-cloud"></span>
                CO₂ Emissions (comb.): 254 g/km*
              </li>
              <li class="list-group-item">
                <span class="info-logo bi bi-bar-chart"></span>
                CO₂ Efficiency Rating: G
              </li>
            </ul>
          </a>
        </div>
      </div>
      <div class="col-md-4 mb-4">
        <div class="card">
          <a class="v" href="/vehicle/23G1159/">
            <img
              src="https://files.hollmann.international/vehicle/23G1256/images/compact/1.jpeg"
              class="card-img-top v-image"
              alt="911 Turbo S Coupe Customized<"
            />
            <div class="card-body">
              <h5 class="card-title">911 Turbo S Coupe Customized</h5>
              <p class="card-text">
                <span class="info-logo bi bi-cash"></span>
                <span> Gross: €225,862.000</span><br />
                <span class="info-logo bi bi-currency-exchange"></span>
                Net (Export): €189,800.00
              </p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                <span class="info-logo bi bi-gear"></span>
                Drive: Petrol
              </li>
              <li class="list-group-item">
                <span class="info-logo bi bi-speedometer"></span>
                Fuel Consumption (comb.): 12 l/100 km*
              </li>
              <li class="list-group-item">
                <span class="info-logo bi bi-cloud"></span>
                CO₂ Emissions (comb.): 254 g/km*
              </li>
              <li class="list-group-item">
                <span class="info-logo bi bi-bar-chart"></span>
                CO₂ Efficiency Rating: G
              </li>
            </ul>
          </a>
        </div>
      </div>
    </div>
  </div>
</body>
